* {
    margin: 0;
    padding: 0;
    font-size: inherit;
    font-weight: inherit;
    color: inherit;

    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: border-box;
}

ul,
ol,
li {
    list-style: none;
}

em,
i,
address {
    font-style: normal;
}

b,
strong {
    font-weight: normal;
}

a {
    text-decoration: none;
}

img {
    vertical-align: middle;
    max-width: 100%;
}

body {

    font-family: 'Roboto', 'Noto Sans KR', sans-serif;
    font-size: 16px;
    line-height: 1;
    color: #303030;

    word-break: keep-all;
}

.cf::after,
.clearflx::after,
.row::after {
    content: "";
    display: block;
    clear: both;
}




.mc {
    color: #00babb;
}

.inner {
    width: 1200px;
    margin: 0 auto;
}