.mc {
    color: #00babb;
}

.inner {
    width: 1200px;
    margin: 0 auto;
}


/* TOPBANNER */


.TopBanner {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
}

.TopBanner .inner {
    display: flex;
    justify-content: space-between;
}

.TopBanner ul {
    display: flex;
    gap: 10px;
    padding: 10px 0;
    font-size: 14px;
}

.TopBanner ul>li:hover a {
    color: #00babb;
}

.TopBanner .top_left li~li {
    padding-left: 10px;
    border-left: 1px solid #ddd;
}

.TopBanner .top_right li~li {
    padding-left: 10px;
    border-left: 1px solid #ddd;
}

@media (max-width: 768px) {
    .TopBanner {
        display: none
    }

}





.Header {
    background: #fff;
    line-height: 100px;
}

.Header h1 {
    font-size: 0;
}

.Header h1 img {
    width: 60%;
}

.Header .inner {
    display: flex;
    justify-content: space-between;
}

.Header .gnb {}

.Header .gnb>ul {
    display: flex;
    gap: 80px;
    font-weight: 700;
    font-size: 18px;
}

.Header .gnb>ul a {
    position: relative;
    display: block;
}

.Header .gnb>ul a:hover {
    color: #00babb;
}


.Header .gnb>ul>li .menu_wrap {
    position: absolute;
    top: 130px;
    left: 0;
    right: 0;
    line-height: 35px;
    font-size: 15px;
    font-weight: 500;

    background: #fff;
    border: 1px solid #ddd;
    z-index: 999;
    display: none;

}

.Header .gnb>ul>li:hover .menu_wrap {
    display: block;
}


.Header .gnb>ul>li .submenu {
    display: flex;
    justify-content: center;
    gap: 30px;
    width: 1200px;
    margin: 0 auto;
    padding: 0 20px;

}



/* MOBILE OPEN BUTTON CSS STYLE */


button {
    vertical-align: middle;
    cursor: pointer;
    display: none;
}

.btn_o {
    border: none;
    outline: none;
    line-height: 1;
}

.m_btn {
    position: relative;
    font-size: 0;
    width: 40px;
    height: 40px;
    right: 40px;
    background: #fff;
    border: none;
    outline: none;
}

.m_btn::before,
.m_btn::after {
    content: "";
    position: absolute;
    left: 5px;
    right: 5px;
    height: 2px;
    background: #000;
    transition: 0.5s;
}

.m_btn::before {
    top: 5px;
}

.m_btn::after {
    bottom: 10px;
}

.m_btn.on::before {
    transform: translate(-100px, 0);
    opacity: 0;
}


.m_btn.on::after {
    transform: translate(100px, 0);
    opacity: 0;
}

.m_btn span::before,
.m_btn span::after {
    content: "";
    position: absolute;
    top: 16px;
    left: 5px;
    right: 5px;
    height: 2px;
    background: #000;
    transition: 0.5s;
}

.m_btn.on span::before {
    transform: rotate(135deg);
}

.m_btn.on span::after {
    transform: rotate(-135deg);
}






/* MOBILE RESPONSIVE VERSION HEADER(MENU) */

@media (max-width: 768px) {
    button {
        display: block;
    }


    .Header h1 {
        position: fixed;
        z-index: 9999;
        width: 80%;

    }

    .Header.on h1 {
        position: fixed;

    }

    .Header .gnb>ul a:hover {
        color: #00babb;
    }

    .Header .gnb {
        position: relative;
        z-index: 9998;
        margin: 0 0 0 0;
    }


    .Header .inner::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9998;

        width: 100vw;
        height: 80px;
        background: #fff;
    }

    .Header.on .inner::before {
        display: block;
    }

    .Header .search input {
        border-bottom: none;
    }


    .Header .gnb>ul {
        flex-direction: column;
        gap: 40px;
        position: fixed;
        top: 0;
        left: -100%;
        z-index: 9999;

        width: 100%;
        height: 100%;
        background: #fff;
        border-right: 1px solid #ddd;

        padding: 150px 15px 0 15px;
    }


    .Header .gnb>ul a {
        position: relative;
        display: block;
    }


    .Header.on .gnb>ul {
        left: 0;
    }

    .Header .gnb>ul li {
        line-height: 10px;
    }


    .Header .gnb>ul>li~li::before {
        display: none;
    }


    .Header:hover .gnb::before {
        display: none;
    }

    .Header .gnb>ul>li .menu_wrap {
        border: none;
    }

    .Header .m_open {
        position: fixed;
        top: 35px;
        right: -30px;
        z-index: 9999;

        display: block;
        line-height: 1;
    }

}



/* mainVisual slide */


/* MOBILE RESPONSIVE VERSION CONTENT(MAINVISUAL) */

@media only screen and (max-width: 768px) {

    .slide .itm01 {
        background: url('../public/assets/mainVisual01_small.jpg')no-repeat center center/cover;
        height: 460px;

    }
}

@media only screen and (min-width: 768px) {
    .slide .itm01 {
        background: url('../public/assets/mainVisual01.jpg')no-repeat center center/cover;
        height: 460px;

    }
}

@media only screen and (max-width: 768px) {
    .slide .itm02 {
        background: url('../public/assets/mainVisual02_small.jpg')no-repeat center center/cover;
        height: 460px;

    }
}

@media only screen and (min-width: 768px) {
    .slide .itm02 {
        background: url('../public/assets/mainVisual02.jpg')no-repeat center center/cover;
        height: 460px;

    }
}

@media only screen and (max-width: 768px) {
    .slide .itm03 {
        background: url('../public/assets/mainVisual03_small.jpg')no-repeat center center/cover;
        height: 460px;

    }
}

@media only screen and (min-width: 768px) {
    .slide .itm03 {
        background: url('../public/assets/mainVisual03.jpg')no-repeat center center/cover;
        height: 460px;

    }
}

@media only screen and (max-width: 768px) {
    .slide .itm04 {
        background: url('../public/assets/mainVisual04_small.jpg')no-repeat center center/cover;
        height: 460px;

    }


    .arrow {
        display: none;
    }

}

@media only screen and (min-width: 768px) {
    .slide .itm04 {
        background: url('../public/assets/mainVisual04.jpg')no-repeat center center/cover;
        height: 460px;
    }
}



.num {
    display: none;
}

.arrow {
    font-size: 50px;
    position: absolute;
    top: 35%;
}

.arrow .arrow_left {
    margin: 0 0 0 250px;
}

.arrow .arrow_right {
    margin: 0 0 0 1310px;
}



/* mainContent */

.mainContent {
    padding: 50px 0 100px 0;
}


.select_branch {
    position: relative;
    padding: 50px 0;
    text-align: center;
    margin: 0 0 50px 0;
    background: linear-gradient(132.22deg, #ACF5F5 -3.13%, #F5EDC1 94.95%);
}

.mainContent .select_branch .find_img {
    position: absolute;
    width: 300px;
    right: 18%;
    bottom: 15%;

}

.mainContent select {
    width: 200px;
    padding: 5px 30px;

    font-size: 15px;
    line-height: 20px;
    border: 1px solid #ccc;
    background: url('../public/assets/arrow.jpg') no-repeat 95% 50%;
    background-color: #fff;
    border-radius: 4px;
    appearance: none;
}

.mainContent span {
    margin-right: 10px;

}



@media (max-width: 768px) {
    select {
        text-align: center;

    }

    .select_branch {
        flex-direction: column;
        gap: 10px;
        width: auto;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 30px;
    }

    .select_branch .find_img {
        display: none;
    }

    .mainContent .select_branch select>option {
        padding-left: 10px;

    }

}

.mainContent h2 {
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    line-height: 30px;
    margin-bottom: 50px;
}


.mainContent .inner {
    display: flex;
    gap: 30px;
}

.mainContent .itm01,
.mainContent .itm02,
.mainContent .itm03 {
    flex: 1;
}


.mainContent .brand_item {
    height: 580px;
    border-radius: 20px;
}



.mainContent .brand_item .cap {
    padding: 30px 35px;
}




.mainContent .brand_logo {
    display: block;
    padding-top: 5px;
}

.mainContent .itm02 .brand_logo img,
.mainContent .itm03 .brand_logo img {
    margin: 10px 0 20px 0;
}


.mainContent .itm02 .brand_imgbox,
.mainContent .itm03 .brand_imgbox {
    padding-top: 60px;
}


.mainContent .brand_item .brand_info {
    line-height: 20px;
    color: #fff;
    padding: 15px 0;
}

.mainContent .brand_item .brand_info dt {
    line-height: 40px;
    font-size: 30px;
    font-weight: 700;
    padding: 10px 0;
}

.mainContent .brand_item .brand_info dd {
    padding: 10px 0;
    line-height: 20px;

}

.brand_imgbox {
    text-align: end;
    padding: 0 30px;

}



.mainContent .itm01 {
    background-color: #8aba2b;
}

.mainContent .itm02 {
    background-color: #2ebad2;
}

.mainContent .itm02 {
    background-color: #2ebad2;
}

.mainContent .itm03 {
    background-color: #5c5758;
}




@media (max-width: 768px) {

    .mainContent {
        padding: 50px 0;

    }


    .inner {
        flex-direction: column;
        width: auto;
        padding: 0 15px;
    }

    .mainContent .inner {
        display: flex;
        flex-direction: column;
    }

    .mainContent .itm01 .brand_imgbox,
    .mainContent .itm02 .brand_imgbox,
    .mainContent .itm03 .brand_imgbox {
        padding-top: 20px;
        padding-bottom: 20px;
    }


}







/* mainNotice */


.mainNotice {
    padding: 100px 0;
}

.mainNotice .inner {
    display: flex;
    gap: 30px;
}

.mainNotice .inner>div {
    flex: 1;

}

.mainNotice .news_list:not(:last-child) {
    margin-right: 20px;
    border-right: 1px solid #EFEFEF;
}

.mainNotice .news_list {
    min-width: 350px;
}

.mainNotice h3 {
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 20px;
}

.mainNotice li {
    width: auto;
    max-width: calc(100% - 20px);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 25px;
}

.mainNotice .news_list a {
    display: block;
    margin-top: 30px;
    font-size: 15px;
    font-weight: bold;
    color: #00BABB;

}


.mainNotice .news_list a::after {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: 4px;
    vertical-align: middle;
    border-radius: 20px;
    background: url(../public/assets/sNext.png) no-repeat 7px center / 6px;
    background-color: #00BABB;
}


@media (max-width: 768px) {
    .mainNotice {
        padding: 50px 0;
    }
}


/* mainBanner */

.mainBanner {
    padding: 100px 0;
    background-color: #F5F8FA;

}

.mainBanner h2 {
    margin-bottom: 60px;
    font-size: 42px;
    text-align: center;
}

.mainBanner strong {
    font-weight: 700;
}


.mainBanner .inner .categories ul {
    display: flex;
}


.mainBanner .card01 .clickF {
    background: url(../public/assets/CD.png)no-repeat center center/contain;

}

.mainBanner .card01 .clickB {
    background: url(../public/assets/cl_CD.png)no-repeat center center/contain;

}


.mainBanner .card02 .clickF {
    background: url(../public/assets/AP.png)no-repeat center center/contain;

}

.mainBanner .card02 .clickB {
    background: url(../public/assets/cl_AP.png)no-repeat center center/contain;

}


.mainBanner .card03 .clickF {
    background: url(../public/assets/MT.png)no-repeat center center/contain;

}

.mainBanner .card03 .clickB {
    background: url(../public/assets/cl_MT.png)no-repeat center center/contain;

}

.mainBanner .card04 .clickF {
    background: url(../public/assets/MG.png)no-repeat center center/contain;

}

.mainBanner .card04 .clickB {
    background: url(../public/assets/cl_MG.png)no-repeat center center/contain;

}


.flip {
    width: 240px;
    height: 240px;
    position: relative;
    perspective: 1100px;
    margin: 2rem;

}

.card {
    width: 100%;
    height: 100%;
    position: relative;
    transition: .4s;
    transform-style: preserve-3d;
}

.clickF,
.clickB {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 25px;
}

.clickB {
    transform: rotateY(180deg);
}

.flip:hover .card {
    transform: rotateY(180deg);
}




@media (max-width: 768px) {

    .mainBanner {
        padding: 50px 0;
    }

    .mainBanner .inner .categories ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .mainBanner .inner .categories {
        padding: 20px 0 0;
    }

    .flip {
        width: auto;
        margin: 10px;
        height: 170px;
    }



}

/* mainEvent */

.mainEvent {
    padding: 100px 0;
}


.mainEvent .inner {
    display: flex;
    gap: 30px;
}

.mainEvent .inner .left {
    display: flex;
    justify-content: space-between;
    padding: 70px 20px 70px 20px;
    flex: 1;
    background-color: rgb(58, 55, 153);
    color: #fff;
    border-radius: 25px;
}

.mainEvent .inner .left .event_ll {
    margin-top: -30px;
}

.mainEvent .inner .left .strong {
    line-height: 40px;
    padding-bottom: 50px;
}

.mainEvent .inner .left>div {
    flex: 1;
}

.mainEvent .inner .right {
    flex: 1;
    display: flex;

    background: rgb(245, 246, 247);
    border-radius: 25px;
    padding: 70px 20px 30px 20px;
}

.mainEvent .inner .right .event_rr {
    flex: 6;
    display: block;
    line-height: 25px;
}

.mainEvent .inner .right .event_rl {
    flex: 4;
}

.mainEvent .inner .right p {
    padding-bottom: 20px;

}

.mainEvent .inner .right a {
    position: absolute;
    font-size: 14px;
    font-weight: 500;
}


.mainEvent .inner .right a::after {
    content: '';
    display: block;
    position: absolute;
    top: 7px;
    right: -16px;
    width: 10px;
    height: 10px;
    background: url(../public/assets/bg_global_brand_dep.png) no-repeat center / 7px;
}

.mainEvent .inner h3 {

    font-size: 20px;
    font-weight: 500;
    padding-bottom: 20px;
}

.mainEvent .inner .strong {
    font-size: 35px;
    font-weight: 700;
}

.mainEvent .inner p {
    font-size: 14px;
}


@media (max-width: 768px) {
    .mainEvent {
        padding: 50px 0;
    }

    .mainEvent .inner h3 {
        line-height: 35px;
    }

    .mainEvent .inner .left {

        display: flex;
        justify-content: space-between;
        padding: 20px 20px;
        flex: 1;
        background-color: rgb(58, 55, 153);
        color: #fff;
        border-radius: 25px;
    }

    .mainEvent .inner .right {
        flex: 1;
        display: flex;

        background: rgb(245, 246, 247);
        border-radius: 25px;
        padding: 30px 20px 50px 20px;
    }


    .mainEvent .inner h3 {

        font-size: 15px;
        font-weight: 500;
        padding-bottom: 20px;
    }

    .mainEvent .inner .strong {
        font-size: 25px;
        font-weight: 700;
    }

    .mainEvent .inner p {
        font-size: 12px;
    }


    .mainEvent .inner .left .event_ll {
        margin-top: 30px;
    }

    .mainEvent .inner .right .event_rl {
        display: none;
    }

}



/* mainChannel */

.mainChannel {
    padding: 100px 0;
}

.mainChannel .inner {
    display: flex;
    gap: 30px;
}

.mainChannel h2 {
    font-size: 30px;
    padding: 30px 0;
}

.mainChannel .sns_left {
    flex: 1;
}

.mainChannel .sns_right {
    flex: 1;
}





/* footer */


.Footer {
    border-top: 1px solid #ddd;
    color: #000;
    padding: 0 0 50px 0;
}

.Footer .top {
    line-height: 80px;
    border-bottom: 1px solid #fff;
}

.Footer .inner {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: 0 auto;
}

.Footer .top .left {
    font-size: 0;
}

.Footer .top .left li {
    display: inline-block;
    font-size: 15px;
}


.Footer .top .left li~li::before {
    content: "";
    margin: 0 20px;
    display: inline-block;
    width: 1px;
    height: 11px;
    background: 11px;
    background: #333;
}

.Footer .top .right {
    display: flex;
    gap: 10px;
}

.Footer .top .right i {
    font-size: 20px;
    padding: 10px;
    background: #f2f2f2;
    border-radius: 50%;
}

.Footer .bottom {
    line-height: 80px;
}

#f_link {
    border: none;
    outline: none;
    padding: 5px 20px;
    background: #f2f2f2;
    border: 1px solid #ddd;
}

#f_link option {
    padding: 5px 20px;
}


@media (max-width: 768px) {
    .Footer {
        padding: 30px 0;
    }

    .Footer .inner {
        text-align: center;
        flex-direction: column;
        width: auto;
        padding: 0 15px;
    }

    .Footer .top {
        line-height: 50px;
    }


    .Footer .top .left li {
        font-size: 14px;
    }

    .Footer .top .left li~li::before {
        content: "";
        margin: 0 10px;
    }

    .Footer .top .right {
        margin: 0 auto;
    }

    .Footer .bottom {
        line-height: 30px;
    }

    #f_link {
        margin-top: 30px;
        border: none;
        outline: none;
        padding: 5px 20px;
        background: #f2f2f2;
        border: 1px solid #ddd;
    }

    #f_link option {
        padding: 5px 20px;
    }

}